<!DOCTYPE html>
<%- include('../partials/navbar.ejs', {
    user: user
    }) %>
<body>       
    <h1 class="movieEditMsgDisplay">You're Editing</br>
    <%=movie.title%>
    </h1>

<div class = "movieDetails">
    <div class="movie-Column">
        <a class="backToMovieShowPage" href="/movies/<%=movie._id%>">Back to <%=movie.title%> </a>
        <div class="movieShowPagePoster">
            <img src="<%= movie.posterUrl %>" />
        </div>
    </div>

    <div class="movie-Column movieEditForm">
            <form action="/movies/<%=movie._id%>?_method=PUT" method="post">
            <span>Title</span></br><input type="text" name="title" value="<%=movie.title%>"/><br/>
            <span>Poster Art</span></br><input type='text' name="posterUrl" value="<%=movie.posterUrl%>"/><br/>
            <span>Shot On</span></br> <input type='text' name="shotOn" value="<%=movie.shotOn%>"><br/>
            <span>Lenses</span></br><input type='text' name="lenses" value="<%=movie.lenses%>"><br/>
            <span>Cast</span></br> <input type='text' name="Cast" value="<%=movie.cast%>"><br/>
            <span>Crew</span></br><input type='text' name='Crew' value="<%=movie.crew%>"><br/>
                <span>Aspect Ratio</span></br><input type='text' name="aspectRatio" value="<%=movie.aspectRatio%>"></br>
                <span>Director</span></br><input type='text' name='director' value="<%=movie.director%>"><br/>
                <span>Cinematographer</span></br><input type='text' name='dop' value="<%=movie.dop%>"><br/>
                <span>Synopsis</span></br><input type='text' name='synopsis' value="<%=movie.synopsis%>"><br/>
                <span>Shooting Regions</span></br> <input type='text' name='shootRegions' value="<%=movie.shootRegions%>"></br>
                <span>Trailer</span></br> <input type='text' name='trailer' value="<%=movie.trailer%>"><br/>
                <input type="submit" value="Update Movie"/>
            </form>
    </div>
    </div>
</div>

</body>
</html>