
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <title></title>
            <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Fredericka+the+Great&display=swap" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="/css/style.css" />
        </head>
        <body>
                <header class="cam-Geek-Header">
                            <div id="parallelogram2"></div>
                            <div id="parallelogram"></div>
                            <h1>Shot List </h1> 
                            <div class="moviesToHomeRoute">
                                    <a href="/">Home</a>
                            </div>
                </header>
                    <div class="goToMoviePage" class="movieNewPage"> 
                            <a href="/movies/">Back to Movies</a>
                    </div>
                        
                    <div class="toUsersFromNewMovie" class="movieNewPage">
                        <a href="/users/">Back to Users</a>
                    </div>

                     <!-- Poster Art  -->
                     <div class="movieShowPagePoster">
                        <img src="<%=movie.posterUrl%>">
                    </div> 
                <div class="movieTitle">
                   <%=movie.title%></br>
                </div>
                <div class="movieSynopsis">
                    <span class="movieDetailsFlair"> Synopsis </span></br> <%=movie.synopsis%>
                </div>
                   <div class = "movieDetails">
                        <div>
                           <span>Trailer:</span></br>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/t433PEQGErc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                           </div>
                      <span class="movieDetailsFlair"> Shot On:</span> </br><%=movie.shotOn%></br>
                   </br><span class="movieDetailsFlair"> Lenses Used:</span>  <%=movie.lenses%></br>
                   <span class="movieDetailsFlair"> Cast</span> <%=movie.cast%></br>
                   <span class="movieDetailsFlair"> Crew</span>  <%=movie.crew%></br>
                   <span class="movieDetailsFlair"> Aspect Ratio:</span>  <%=movie.aspectRatio%></br>
                   <span class="movieDetailsFlair"> Director:</span>  <%=movie.director%></br>
                   <span class="movieDetailsFlair"> Cinematographer:</span>  <%=movie.dop%></br>
                  
                   <span class="movieDetailsFlair"> Shooting Regions: </span>  <%=movie.shootRegions%></br>
                       
                    

                    </div> 

        <button class="movieEditBtn">
            <a href="/movies/<%=movie._id%>/edit">+
            </a>
        </button>
        <form action="/users/<%=currentUser._id%>?_method=PUT" method="POST">
            <input class="hidden-info" name="newWatchList" value=<%=movie._id%>>
            <input type="submit" value="Add to Watch List">
        </form> 
    </body>
</html>





                       

               