<!DOCTYPE html>
<%- include('../partials/navbar.ejs', {
    user: user
    }) %>

<img class="profilePic" src="<%=user.profilePic%>">

<div class="username">
    <span class="movieDetailsFlair">Username: </br></span>
    <%=user.username%>
</div>
<div class="favGenres">   
    <span class="movieDetailsFlair">Favorite Genres: </span>
</br> <span></span><%=user.favoriteGenre%></span></br>
</div>

        <% if(currentUser === user.username) {%>
            <div>
                <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
                    <button class="userProfDelete" class="DELETE" type='submit'>Delete Profile </button>
                </form>
            </div>
                  
            <div>
                <button class ="userShowEditBtn">
                    <a href="/users/<%=user._id%>/edit">Edit User</a>
                </button>
            </div>
                <% } %>    
                
            
            

        <section class="watchListTitle">
            <h2><%=user.username%>'s </br>Must Watch List</h2>
        </section>
        
		<div>
            <div class="container">
                <%for(let i = 0; i < user.watchList.length; i++) { %>
                    <div class="movieCard">
                        <a href="/movies/<%=user.watchList[i]._id%>">
                            <img class="watchImages" src=<%=user.watchList[i].posterUrl%>>
                        </a>
                        

                        <div class="displayBigPosterBtn">
                            <form action="<%=user.watchList[i].posterUrl%>" method="POST">
                                    <button type='submit'>Show Poster</button>
                            </form>    
                            <div class="removeFromWatchListBtn">
                                <form action="/users/<%=user._id%>?_method=PUT" method="POST">
                                    <input class="hidden-info" name="removedMovie" value=<%= user.watchList[i]._id %>>
                                        <button class="removeFromWatchList" type='submit'>
                                            Remove! 
                                        </button>
                                </form>
                            </div>  
                        </div>


                </div>

                <%}%>
            </div>
		</div>    			
    </body>
</html>